.card {
  background-color: #ba1f31;
  border-radius: 15px;
  color: #000000;
  padding: 2%;
  margin: 5% 20%;
  list-style-type: none;
}
/* .card {
  display: grid;
  grid-template-rows: 4rem 3rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "title author" "topic userTally";
  border: 2px solid;
  border-radius: 1rem;
  margin: 10px 50px 20px 50px;
  padding: 1rem;
  background-color: rgb(255, 254, 254);
} */

.title {
  color: rgb(27, 23, 0);
  text-decoration: none;
  flex-grow: 5;
}

.card button {
  display: inline;
  border: solid;
  size: 20%;
  margin: 2%;
  background-color: white;
}

.tally {
  display: inline;
}
