.card {
  background-color: #ba1f31;
  border-radius: 15px;
  color: #000000;
  padding: 2%;
  margin: 5% 20%;
  list-style-type: none;
}

.title {
  color: rgb(27, 23, 0);
  background-color: #e6e6e6;
  align-content: center;
  margin: 2% 10%;
  font-size: 20px;
  padding: 1%;
  border-radius: 5px;
  /* width: 70%; */
}

.card button {
  display: inline;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  size: 20%;
  margin: 2%;
  background-color: white;
}

.link {
  text-decoration: none;
}
